astral
atomicwrites
awesomeversion
PyJWT
voluptuous
voluptuous-serialize
snitun
tzdata
sqlalchemy

# homeassistant manifest requirements
async-upnp-client
PyQRCode
pyMetno
mutagen
pyotp
gTTS
pyroute2
aioesphomeapi
zeroconf

# zha requirements
pyserial
zha-quirks
zigpy
https://github.com/zigpy/zigpy-zigate/archive/8772221faa7dfbcd31a3bba6e548c356af9faa0c.zip

# fixed dependencies
python-jose[cryptography]
